@charset "UTF-8";

@media screen and (max-width: 600px){
    .menu {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 20px;
        font-size: 1.3em;
    }   

    .menu > div {
        padding: 15px;

    }

    .nome {
        display: none;
    }

    main section {
        display: block
    }

    main > section > .infos {
        margin: 0 auto;
    }

    .foto > img {
        max-width: 250px;
        margin-left: 80px;
    }
    
    .infos > div#botao > div {
        padding: 20px;
    }

    .infos > div#botao > div > a:hover {
        padding: 7px;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    main section {
        display: block
    }

    .foto > img {
        max-width: 500px;
        margin-left: 170px;
    }

    .infos > div#botao > div {
        margin: auto;
    }
}