@charset "UTF";

@media screen and (max-width: 768px) {

    header > a {
        padding: 10px;
    }

    section > div#es {
        margin-top: 5px;
        width: 300px;
    }

    section > div#mei {
        margin-top: 18px;
        width: 300px;
    }

    section > div#di {
        margin-top: 18px;
        width: 300px;
    }

    img {
        width: 340px;
    }

    section#meio {
        display: block;
        flex-wrap: wrap;
    }

    div#azul {
        display: block;
        float: none;
        width: 100%;
        height: 350px;
    }

    div#cinza {
        display: block;
        float: none;
        width: 100%;
        height: 350px;
    }

    section#foot  {
        display: flex;
    }

    div#fotes {
        display: block;
    }

    div#fotdi {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    section#primeira > div#di {
        margin-top: 20px;
    }

}